* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input:focus {
	outline: none;
}

.container {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	/* height: 100vh; */
	color: #fff;
	font-size: 14px;
	font-family: Poppins;
	padding: 1rem;
}

.inner {
	background-color: cadetblue;
	width: 370px;
	height: 80vh;
	padding: 2rem;
	border-radius: 10px;
}

.bill-tip-container {
	position: relative;
}

.symbol {
	position: absolute;
	top: 41px;
	left: 9px;
	font-size: 15px;
}

.bill-tip-container label {
	display: block;
	margin-top: 1rem;
	padding: 0.5rem 0;
}

input[type="number"] {
	color: #fff;
	background-color: blueviolet;
	width: 100%;
	border: none;
	border-radius: 30px;
	padding: 6px 24px;
	font-size: 18px;
}

input[type="number"]#number-of-people {
	width: 50px;
	padding: 0;
	height: 25px;
	background-color: transparent;
	border-radius: 0;
	font-size: 1.5rem;
	text-align: center;
}

.input-control-container {
	display: flex;
	padding-top: 1rem;
}

.increment,
.decrement {
	background-color: blueviolet;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
	user-select: none;
}

.people--total-person-container {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}

.money-per-person-amnt {
	font-size: 28px;
	padding-top: 1rem;
}
